@using Car_Shop.Models.ViewModels

@model ProductsViewModel

    <div class="row">
        @foreach (var v in Model.Products)
        {
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@v.ThumbImageUrl">
                <div class="card-body">
                    <h5 class="card-title">@v.Name</h5>
                    <p class="card-text">@v.ShortDescription</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        }
    </div>