<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/jquery/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <style>
        body {
    padding-top: 40px; 
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;
    }
        #body{
            margin-top:40px;
        }
        #aboutresource{
            text-align:right;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Car shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li>
                    <partial name="_LoginPartial" />
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="aboutresource">asdasdasdas</div>

    <div id="body" class="col-md-9">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
